@import '@skyscanner/bpk-foundations-web/tokens/base.default';
@import '@skyscanner/backpack-web/bpk-stylesheets/index.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $bpk-font-family-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bpk-color-white;
}

#root {
  min-height: 100vh;
}